.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  width: 300px;
  background-color: #f9f9f9;
}

.card h2 {
  margin-bottom: 5px;
}

.card h4 {
  margin-top: 0;
  color: gray;
}

.card-body {
  margin-top: 10px;
}
